<a href="https://colab.research.google.com/github/Amanj5486/Finance_ML/blob/main/Amazon_ElasticNet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import  metrics
from sklearn.model_selection import  train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import ElasticNet
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix, accuracy_score
import math

In [2]:
dataset=pd.read_csv('amzn_data.csv')
dataset['Date']=pd.to_datetime(dataset.Date)

In [3]:
dataset.drop('Close',axis=1,inplace=True)

In [4]:
X=dataset[['Open','High','Low','Volume']]
Y=dataset['Adj Close']
X=X.values
Y=Y.values

In [5]:
X_train, X_test, Y_train, Y_test=train_test_split(X,Y,random_state=0)

In [6]:
le = LabelEncoder()
Y_train= le.fit_transform(Y_train)

In [7]:
model = ElasticNet(alpha=1.0, l1_ratio=0.5)
model.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 43046867.8053969, tolerance: 55159.09499809224
  positive)

ElasticNet(alpha=1.0, copy_X=True, fit_intercept=True, l1_ratio=0.5,
           max_iter=1000, normalize=False, positive=False, precompute=False,
           random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [8]:
predicted=model.predict(X_test)

In [9]:
df=pd.DataFrame({'Actual':Y_test,'Predicted':predicted})
df

          Actual    Predicted
0     308.309998   536.769809
1     715.820007   769.313968
2     312.649994   551.722901
3     373.350006   579.093125
4    2692.870117  1821.325930
..           ...          ...
625   760.770020   780.146705
626   611.010010   696.530299
627   808.330017   810.858406
628  1598.390015  1218.768613
629  3104.199951  2058.525323

[630 rows x 2 columns]

In [10]:
model.score(X_test,Y_test)

0.7624050934184936

In [11]:
r2=metrics.r2_score(Y_test,predicted)
r2

0.7624050934184936

In [13]:
rmse=np.sqrt(np.mean(predicted-Y_test)**2)
rmse

142.83533572860935