<a href="https://colab.research.google.com/github/Amanj5486/Finance_ML/blob/main/tesla_lasso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import  train_test_split
from sklearn.linear_model import  Lasso
import sklearn
from sklearn.metrics import confusion_matrix, accuracy_score

In [22]:
dataset=pd.read_csv('TSLA.csv')
dataset['Date']=pd.to_datetime(dataset.Date)

In [23]:
dataset.drop('Close',axis=1,inplace=True)
dataset.head()

        Date   Open   High    Low  Adj Close   Volume
0 2011-06-14  5.708  5.940  5.704      5.720  7867000
1 2011-06-15  5.688  5.690  5.414      5.464  6725000
2 2011-06-16  5.534  5.600  5.148      5.300  9211000
3 2011-06-17  5.374  5.540  5.228      5.300  8570000
4 2011-06-20  5.258  5.292  5.100      5.202  7689000

In [24]:
X=dataset[['Open','High','Low','Volume']]
Y=dataset['Adj Close']
X=X.values
Y=Y.values

In [25]:
X_train, X_test, Y_train, Y_test=train_test_split(X,Y,random_state=0)

In [26]:
model=Lasso()
model.fit(X_train,Y_train)
predicted=model.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 17672.802158773567, tolerance: 4635.254400140373
  positive)

In [27]:
model.score(X_test,Y_test)

0.9993569422490086

In [28]:
r2=sklearn.metrics.r2_score(Y_test, predicted)
r2

0.9993569422490085

In [29]:
rmse=np.sqrt(np.mean(predicted-Y_test)**2)
rmse

0.13882587946199443