<a href="https://colab.research.google.com/github/Amanj5486/Finance_ML/blob/main/Walmart_lasso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import  train_test_split
from sklearn.linear_model import  Lasso
import sklearn
from sklearn.metrics import confusion_matrix, accuracy_score

In [31]:
dataset=pd.read_csv('WMT.csv')
dataset['Date']=pd.to_datetime(dataset.Date)

In [32]:
dataset.drop('Close',axis=1,inplace=True)
dataset.head()

        Date       Open       High        Low  Adj Close    Volume
0 2011-06-13  52.910000  53.250000  52.580002  41.536190  12545100
1 2011-06-14  52.860001  53.259998  52.770000  41.765118   8797400
2 2011-06-15  52.639999  52.639999  51.790001  41.299400  15324000
3 2011-06-16  52.459999  52.970001  52.200001  41.701969  11743700
4 2011-06-17  53.060001  53.290001  52.820000  41.694065  20564300

In [33]:
X=dataset[['Open','High','Low','Volume']]
Y=dataset['Adj Close']
X=X.values
Y=Y.values

In [34]:
X_train, X_test, Y_train, Y_test=train_test_split(X,Y,random_state=0)

In [35]:
model=Lasso()
model.fit(X_train,Y_train)
predicted=model.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 298.601589046777, tolerance: 139.30801856276295
  positive)

In [36]:
model.score(X_test,Y_test)

0.9913145168995905

In [37]:
r2=sklearn.metrics.r2_score(Y_test, predicted)
r2

0.9913145168995905

In [38]:
rmse=np.sqrt(np.mean(predicted-Y_test)**2)
rmse

0.040386435873401016